  /*Font For List Text*/

@font-face {
    font-family: listFont;
    src: url(fonts/listFont.ttf);
}@font-face {
    font-family: buttonFont;
    src: url(fonts/button.ttf);
}

html, body {
  background-color: black;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
  
ul.storeList {
    position: relative;
    text-align: center;
    list-style-type: none;
    margin: 0;
    background: black;
    padding: 20px;

}
ul li{
    background: #363636;
    margin: 5px;
    font-size: 45px;
    color: white;
    font-family: listFont;
    word-wrap: break-word;
}

#formCSS{
  text-align: center;
  margin: 0;
  padding: 0;
}
#itemNameInput{
    position: fixed;
    bottom: 1.14em;
    right: 0em;
    font-family: listFont;
    background-color: white;
    font-size: 40px;
    border-radius: 0px;
    height: 45px;
    width: 100%;
    text-align: center;
    border-style: none;
    border-width: none;
    border-color: none;
    padding: 0;
    z-index: 3;
}
#formBackground{
    position: fixed;
    bottom: 0em;
    right: 0em;
    height: 5em;
    width: 100%;
    background-color: #999999;
    border: none;
    border-color: none;
    padding: 0;
}
#showForm{
  position: fixed;
  bottom: 0.2em;
  right: 0.2em;
  background-color: #00fdff;
  font-size: 60px;
  width: 90px;
  height: 90px;
  border: none;
  border-radius: 60px;
  border-color: black;
  text-align: center;
  z-index: 4;
}
#addButton{
  position: fixed;
  bottom: 0em;
  right: 41px;
  font-family: listFont;
  background-color: #00fdff;
  font-size: 40px;
  width: 71px;
  height: 1.12em;
  border: none;
  border-radius: 0px;
  border-color: black;
  text-align: center;
  z-index: 2;
}
#cancelButton{
  position: fixed;
  bottom: 0px;
  right: 0px;
  font-family: listFont;
  background-color: red;
  color: black;
  font-size: 40px;
  width: 40px;
  height: 1.12em;
  border: none;
  border-radius: 0px;
  border-color: none;
  text-align: center;
  z-index: 2;
}
/*Buttons For Changing Text Attributes*/
#boldButton{
  position: fixed;
  bottom: 0px;
  right: 112px;
  font-family: buttonFont;
  background-color: #DEDEDE;
  font-weight: bold;
  font-size: 40px;
  width: 45px;
  height: 1.12em;
  border: none;
  border-radius: 0px;
  border-color: none;
  text-align: center;
  z-index: 2;
  padding-bottom: 40px;
}
#underlineButton{
  position: fixed;
  bottom: 0em;
  right: 159px;  /*Must Be 0.03em Away From Other Button*/
  font-family: buttonFont;
  text-decoration: underline;
  background-color: #DEDEDE;
  font-size: 40px;
  width: 45px;
  height: 1.12em;
  border: none;
  border-radius: 0px;
  border-color: none;
  text-align: center;
  z-index: 2;
  padding-bottom: 40px;
}
#italicButton{
  position: fixed;
  bottom: 0em;
  right: 206px;  /*Must Be 0.03em Away From Other Button*/
  font-family: buttonFont;
  font-style: italic;
  background-color: #DEDEDE;
  font-size: 40px;
  width: 45px;
  height: 1.12em;
  border: none;
  border-radius: 0px;
  border-color: none;
  text-align: center;
  z-index: 2;
  padding-bottom: 40px;
}