@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');
/*font-family: 'Permanent Marker', cursive;  <---The Title Font*/

@import url('https://fonts.googleapis.com/css?family=Fontdiner+Swanky');
/*font-family: 'Fontdiner Swanky', cursive; <---The Introduction Title font*/

@import url('https://fonts.googleapis.com/css?family=Kranky');
/*font-family: 'Kranky', cursive; <---The Introduction Title font*/

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body{
     background-image: url("https://teamnightowl.ca/background.jpg");
}


/*Title*/
#title{
  position: relative;
  text-align: center;
  color: white;
  top: -2.5em;
  font-size: 5.5em;
  font-family: 'Permanent Marker', cursive; /*special font*/
}
#titleC{
    border-radius: 0px;
    background: black;
    width: 100%;
    height: 9.5em;
}
#subtitle{
  position: relative;
  text-align: center;
  color: red;
  top: -7.75em;
  font-size: 2.5em;
  font-family: 'Permanent Marker', cursive; /*special font*/
  z-index: 2;
}

/*Introduction*/
#introductionC{
  position: relative;
  border-radius: 0px;
  bottom: 15em;
  background: #2d2d2d;
  width: 50em;
  height: 20em;
  margin: auto;
}
#introduction{
  position: relative;
  text-align: center;
  color: white;
  top: -8em;
  font-size: 5em;
  font-family: 'Permanent Marker', cursive; /*special font*/
}
#introductionsubtitle{
  position: relative;
  text-align: center;
  color: white;
  top: -23em;
  font-size: 2em;
  font-family: 'Kranky', cursive; /*special font*/
}

#twitter{
  position: relative;
  bottom: 47em;
  text-align: center;
  margin: auto;
}

